.salesChartContainer {
    width: 100%;
    height: 100%;
    border-top: solid 2px black;
    border-left: solid 2px black;
    justify-content: center;
    padding: 20px;
}
.chartHeader {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.subtitle {
    display: flex;
    justify-self: center;
    align-self: center;
    font-size: 2rem;
    margin-left: 2%; 
}
.datePickers {
    display: flex;
    gap: 10%;
    margin-right: 10%;
}
.chart {
    width: 100%;
    height: 90%;
    justify-content: center;
}
.chart canvas {
    width: 100% !important;
    height: 100% !important;
}