.salesChartContainer {
    width: 100%;
    height: 100%;
    border-top: solid 2px black;
    border-left: solid 2px black;
    justify-content: center;
    padding: 20px;
}
.subtitle {
    display: flex;
    justify-self: center;
    align-self: center;
    font-size: 2rem;
    margin-left: 20px; 
}
.chartHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.datePickers {
    display: flex;
    gap: 30px;
    margin-right: 30px;
}