.modalBox {
    position: relative;
    width: 80%;
    max-width: 600px;
    max-height: 80vh;
    margin: auto;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .modalTitle {
    margin: 0 0 20px;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .scrollableContent {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
  }
  
  .reportTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .reportTable th, .reportTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .reportTable th {
    background-color: #f4f4f4;
  }
  
  .bottomContainer {
    position: sticky;
    bottom: 0;
    padding-top: 10px;
    background-color: white;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .totalContainer {
    font-weight: bold;
  }
  
  .closeButton {
    background-color: #f44336;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .closeButton:hover {
    background-color: #d32f2f;
  }