/* General Layout */
.layoutContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/* Navbar */
.navbarContainer {
    height: 10%;
    display: flex;
    flex-direction: row;
}
/* Page */
.pageContent {
    flex: 1;
    background-color: var(--background-color);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
}