/* Main button container */
.buttonContainer {
    position: relative;
    display: inline-block;
    z-index: 9999;
}
  
/* Dropdown menu styling */
.dropdownMenu {
    background-color: black;
    border: 1px solid white;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    min-width: 200px;
    z-index: 10000;
}

 /* Dropdown button styling */
.dropdownButton {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    background-color: #cb0632;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    text-transform: uppercase;
}
.dropdownButton:hover {
    background-color: white;
}
  
/* Dropdown text styling */
.dropdownText {
    margin: 8px 0;
    font-size: 14px;
    color: white;
    font-style: italic;
}
  
/* Circle button */
.circleButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    overflow: hidden;
    border: 1px solid white;
}
.circleButton:hover {
    border: 1px solid #cb0632;
}
  
/* Accessible image */
.accessImage {
    width: 160%;
    height: 160%;
    object-fit: contain;
    border-radius: 50%;
}