/* General Layout */
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
    overflow: hidden;
    position: relative;
}

/* Styling for decorative circle */
.circle {
    top: -10%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 700px;
    background-color: white;
    border-radius: 50%;
    color: white;
    position: absolute;
    z-index: 0;
}

/* Gen styling for top and bottom panels */
.topHeader, .bottomPanel {
    flex: 0 0 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

/* Setting for circle position */
.topHeader {
    position: relative;
}

/* Styling for middle panel */
.midPanel {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

/* Overall container styles */
.recommendedItemPanel {
    background-color: #cb0632;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-height: 180px;
    z-index: 1;
    margin-top: 10px;
  }
  
/* Left panel styles */
.recLeftPanel {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    text-align: left;
    background-color: black;
    margin: -10px;
    border-top-left-radius: 20px;
    padding-left: 10px;
    padding-top: 10px;
}
.recLabel {
    font-size: var(--rec-label);
    text-transform: uppercase;
    color: #cb0632;
    margin-bottom: 5px;
}
.itemDetails {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.recItemName {
    font-size: var(--rec-item-name);
    font-weight: bold;
    color: #cb0632;
}
.recItemDescription {
    font-size: var(--rec-item-description);
    color: white;
    margin-bottom: 10px;
}
.itemInfo {
    display: flex;
    justify-content: space-between;
    font-size: var(--item-info);
    color: white;
    font-style: italic;
}
  
/* Right panel styles */
.recRightPanel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemRecImg {
    width: 100%;
    max-width: 275px;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}
  

/* Top Bar Layout */
.KioskItemPanel {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: -20px;
}

/* Gen styling for top left buttons */
.leftButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-left: 15px;
    z-index: 1;
    position: relative;
}

/* Styling for top left buttons container*/
.cartAndPriceContainer {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: -70px;
}

/* Styling for left circle buttons */
.circleButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    overflow: hidden;
    margin-left: -15px;
}

/* Styling for circle button hover*/
.circleButton:hover {
    background-color: black;
    color: #cb0632;
    border: 1px solid #cb0632;
}

/* Styling for cart image */
.cartImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

/* Styling for price label */
.priceLabel {
    font-size: var(--price-label);
    font-weight: bold;
    color: #cb0632;
}

/* Styling for access icon container */
.gearButtonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right : 110px;
}

/* Styling for access image */
.accessImage {
    width: 140%;
    height: 140%;
    object-fit: contain;
    border-radius: 50%;
}

/* Styling for top right buttons */
.rightButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    z-index: 1;
    width: 100%;
    max-width: 50vw;
    margin: auto;
}
.inlineText {
    display: flex;
    align-items: center;
    gap: 8px;
}
.checkOut, .genStartOver{
    flex: 1;
    padding: 10px;
    margin-top: 40px;
    font-size: var(--top-buttons);
    text-align: left;
    font-weight: bold;
    color: black;
    background-color: #cb0632;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
    width: 700px;
    justify-content: center;
    align-items: center;

    border-top-left-radius: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
}
/*Styling for start over button */
.genStartOver {
    margin-top: 15px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 550px;
}
/*Styling depending on resolution */
@media (min-width: 900px) {
    .genStartOver {
        width: 700px;
        align-items: right;
        margin-right: -30%;
    }
    .checkOut {
        width: 900px;
        align-items: right;
    }
}
/* Styling on top right buttons for hover */
.checkOut:hover {
    background-color: black;
    color:#cb0632;
    border-color: #cb0632;
    border: 1px solid;
}
.genStartOver:hover {
    background-color: black;
    color:#cb0632;
    border-color: #cb0632;
    border: 1px solid;

    .startOver {
        color: #cb0632;
    }
}
/* Styling for start over text */
.x {
    font-weight: bold;
    color: white;
}
.startOver {
    font-size: var(--start-over);
    color: black;
    text-transform: uppercase;
}
/* Middle Panel - Kiosk Item Buttons */
.itemButtons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}
/* Styling for item selection buttons */
.itemButtons button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 0;
    background-color: #cb0632;
    border: 1px solid #cb0632;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 80vw;
    height: 12vh;
    overflow-x: visible;
    overflow-y: hidden;
    position: relative;
}
.itemLeft {
    text-align: center;
    font-weight: bold;
    flex: 1;
    font-size: var(--item-left);
    border-radius: 8px 0 0 8px;
    padding-top: 45px;
    height: 12vh;
    border: none;
    background: white;
    text-transform: uppercase;
    font-weight: bold;
    
}
.itemRight {
    text-align: left;
    flex: 1;
    font-size: var(--item-right);
    margin-left: 20px;
    color: white;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    overflow-x: none;
}
.itemText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-left: 5%;
    text-align: left;
}
.itemImg {
    width: 275px;
    height: auto;
    margin-right: 0%;
}
/* Styling for item button hover action */
.itemButtons button:hover {
    background-color: black;
    border: 1px solid #cb0632;
    .itemLeft {
        background-color: #cb0632;
        color: white;
    }
}
/* Bottom Panel */
.bottomHeader {
    text-transform: uppercase;
    font-size: var(--bottom-header);
    font-weight: bold;
    color: white;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    padding-bottom: 70px;
    border-top: 1px solid #cb0632;
    padding-top: 10px;
}