/* Styling for body panel */
.cartContainer {
  padding: 20px;
  flex-wrap: wrap;
  gap: 25px;
  background-color: var(--cart-background-color);
  height: 100%;

  overflow: hidden;
  position: relative;
}

/*styling for decorative circle */
.circle {
  bottom: 0;
  right: 15vw;
  transform: translate(38%, 50%);
  width: 800px;
  height: 800px;
  background-color: var(--circle-color);
  border-radius: 50%;
  color: var(--circle-color);
  position: absolute;
  z-index: 0;
  border: 1px solid var(--circle-color);
  position: absolute;
  overflow-x: hidden;
}

/* Styling for top bar of buttons */
.topBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 800px;
}
@media (max-width: 900px) {
  .topBar {
    max-width: 400px;
  }
}

/* Set z-index on top-level elements to ensure they appear above .circle */
.orderItem,
.addItemButton,
.topBar,
.orderSummary {
  z-index: 1;
  position: relative;
}

/* Back to Menu Button Styling & its elements */
.backButton {
  flex: 1;
  width: 75%;
  padding: 10px;
  font-size: var(--back-buttons);
  text-align: left;
  font-weight: bold;
  color: var(--back-background-color);
  background-color: var(--back-background-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
}
.x2 {
  font-weight: bold;
  color: var(--x2);
}
.backMenu {
  font-size: var(--back-buttons);
  color: var(--back-menu-text);
  text-transform: uppercase;
}

/* Styling for back to menu hover */
.backButton:hover {
  border: 1px solid var(--back-menu-hover);

  .backMenu {
    color: var(--back-menu-hover);
  }
}

/*Styling for start over button & its elements */
.startOverButton {
  flex: 1;
  width: 75%;
  padding: 25px;
  font-size: var(--back-buttons);
  text-align: left;
  font-weight: bold;
  color: var(--start-over-text);
  background-color: var(--start-over-background-color);
  border: none;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}
.inlineText {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 200px;
}
.x {
  font-weight: bold;
  color: var(--x1);
}
.startOver {
  font-size: var(--back-buttons);
  color: var(--start-over-text);
  text-transform: uppercase;
  font-weight: bold;
}

/* Styling for start over hover */
.startOverButton:hover {
  background-color: var(--start-over-hover-background-color);
  border: 1px solid var(--start-over-hover);

  .startOver {
    color: var(--start-over-hover);
  }
  
  .x {
    color: var(--x1-hover);
  }
}

/* Styling order item frame */
.orderItem {
  background-color: var(--order-item-background-color);
  color: var(--order-item-text);
  padding: 15px;
  margin-bottom: 10px;
  z-index: 1;
  border: 1px solid  var(--border);
}

/* Container for item type and remove button */
.itemHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Styling for item category header */
.itemType {
  font-size: var(--item-type);
  font-weight: bold;
  color: var(--item-type-text);
  margin: 0;
}

/* The scrollable bar if exceeding the set height */
.scrollableOrderList {
  max-height: 250px;
  overflow-y: auto;
  margin-top: 10px;
  padding-right: 10px;
  z-index: 1;
  position: relative;
}

/* Scrollbar track / the width of bar */
.scrollableOrderList::-webkit-scrollbar {
  width: 9px; /* Width of the scrollbar */
  z-index: 1;
}

/* Style the scrollbar bacgkround - very light gray */
.scrollableOrderList::-webkit-scrollbar-track {
  background: var(--scroll-background);
  border-radius: 4px;
  z-index: 1;
}

/* Scrollbar thumb */
.scrollableOrderList::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar);
  border-radius: 4px;
  border: 2px solid var(--scroll-background);
  z-index: 1;
}

/* Scrollbar thumb hover */
.scrollableOrderList::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-hover);
  z-index: 1;
}

/* Styling for item details (associated items) */
.itemDetails {
  font-size: var(--item-details);
  line-height: 1.5;
  margin-top: 5px;
  padding-left: 5px; /* Optional indent for details */
}

/* Bold styling for the "x" */
.boldX {
  font-weight: bold;
  color: var(--item-type-text);
}

/* Styling for remove button */
.removeButton {
  font-size: var(--remove-button);
  color: var(--minus-text-color);
  background-color: var(--minus-background-color);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styling for remove button hover */
.removeButton:hover {
  background-color: var(--minus-hover);
  color: var(--minus-text-hover);
  border: 1px solid var(--minus-text-hover);
}

/* Styling for order summary */
.orderSummary {
  color: var(--order-summary-color);
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 25%;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Styling for the order button */
.placeOrderButton {
  font-size: var(--place-order);
  font-weight: bold;
  color: var(--order-summary-color);
  background-color: var(--order-summary-color);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-top-left-radius: 20px;
  text-shadow: -1px -1px 0 var(--order-summary-text-color), 1px -1px 0 var(--order-summary-text-color), -1px 1px 0 var(--order-summary-text-color),
    1px 1px 0 var(--order-summary-text-color);
  align-self: flex-end;
  margin-bottom: -10px;
}

/*Styling for hover on order button */
.placeOrderButton:hover {
  text-shadow: -1px -1px 0  var(--price-text-color), 1px -1px 0  var(--price-text-color), -1px 1px 0  var(--price-text-color),
    1px 1px 0  var(--price-text-color);
  border: 1px solid var(--order-summary-text-color);
}

/* Container for price summary details and total */
.priceSummary {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  color: var(--order-summary-color);
  align-items: flex-start;
}

/* Left-aligned container for price details */
.priceDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Styling for individual price details */
.priceDetail {
  display: flex;
  justify-content: space-between;
  font-size: var(--price-details);
  margin-bottom: 5px;
  padding: 0 10px;
  align-self: flex-end;
  gap: 5px;
  margin-top: 5px;
  color: var(--order-summary-text-color);
}
.priceDetail span:first-child {
  font-weight: bold;
}

/* Styling for container with total price */
.priceContainer {
  background-color: var(--order-summary-color);
  padding: 15px;
  color: var(--price-text-color);
  border-top-left-radius: 20px;
  width: 300px;
}

/* Styling for total price labels */
.totalPrice {
  font-size: var(--total-price);
  font-weight: bold;
  display: flex;
  justify-content: center;
  gap: 8px;
  text-transform: uppercase;
}

/* ONLY USED FOR TESTING */
.addItemButton {
  display: block;
  margin: 20px auto;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1;
}

/* Extras section container */
.extrasSection {
    margin-top: 20px;
    text-align: left;
    position: absolute;
    left: 10;
    bottom: 180px;
    background-color: var(--extra-background-color);
    padding: 10px;
    border: 1px solid  var(--border);
  }
  
  /* Title for the extras section */
  .extrasTitle {
    font-size: var(--extras-title);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--extra-text-color);
    margin-bottom: 15px;
  }
  
  /* Grid layout for sauce cards */
  .sauceGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-items: left;
    grid-auto-rows: 75px;
  }
  
  /* Individual sauce card */
  .sauceCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--border);
    border-top-left-radius: 20px;
    padding: 10px;
    background-color: var(--extra-item-background-color);
    cursor: pointer;
    max-width: 200px; /* Optional: Ensures uniform size */

    width: 210px; /* Fixed width */
    height: 70px; /* Fixed height */
  }
  
  /* Sauce card hover effect */
  .sauceCard:hover {
    transform: scale(1.05);
    border-color: var(--extra-item-hover-select);
    
  }
  
  /* Sauce content layout */
  .sauceContent {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between image and text */
  }
  
  /* Radio input hidden */
  .sauceInput {
    display: none;
  }
  
  /* Sauce image */
  .sauceImage {
    width: 70px;
    height: 70px;
    object-fit: contain;
  }
  
  /* Sauce label */
  .sauceLabel {
    font-size: var(--sauce-label);
    font-weight: bold;
    color: var(--extra-item-text-color);
    text-align: left;
  }
  
.selected {
  border-color: var(--extra-item-hover-select);
  background-color: var(--extra-item-hover-select);
  color: var(--extra-item-select-text);
}

.selected .sauceLabel {
  color: var(--extra-item-select-text);
}

.selected .sauceImage {
  filter: brightness(0.9);
}
