/*General Layout styling*/
.layout {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 16px;
  background-color: var(--item-selection-background-color);
  height: 100%;
  overflow-y: auto;
}

/*styling for decorative circle */
.circle {
  top: 0%;
  left: 15vw;
  transform: translate(-42%, -52%);
  width: 700px;
  height: 700px;
  background-color: var(--circle-color);
  border-radius: 50%;
  color: var(--circle-color);
  position: absolute;
  z-index: 0;
  border: 1px solid var(--circle-color);
  position: absolute;
}

/* adjust some elements based on resolution*/
@media (min-width: 950px) {
  .circle {
    top: -8vh;
    left: 15vw;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 700px;
  }

  .quantContainer {
    display: flex;
    align-items: center;
    gap: 4rem;
    background-color: var(--label-quant-background-color);
    margin-top: 10px;
    padding: 0 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
  }
}

/* styling for top header */
.topHeader {
  width: 100%;
  margin-bottom: 20px;
  z-index: 1;
}

/*styling for container of itemFrames */
.itemsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: 100%;
  padding: 0 10px;
  z-index: 1;
  padding-bottom: 80px;
}

/*Styling for item heading at top */
.itemHeader {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--info-text-color);
  background-color: var(--label-selection-background-color);
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  padding: 0 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: var(--item-header);
  z-index: 1;
  border: 1px solid var(--item-selection-background-color);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* styling for each all item container*/
.KioskItemPanel {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/* styling for left top panel */
.leftTopPanel {
  display: flex;
  flex-direction: column;
}

.rightTopRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  justify-content: flex-end;
}

.rightTopPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

/* styling for side and entree counter */
.sideQuant,
.entreeQuant {
  font-size: var(--side-entree-quant);
  color: var(--label-quant-count-text-color);
  font-weight: bold;
}
.sideQuantLabel,
.entreeQuantLabel {
  font-size: var(--side-entree-quant-label);
  color: var(--label-quant-text-color);
  font-weight: bold;
  text-transform: uppercase;
}
.quantContainer {
  display: flex;
  align-items: center;
  gap: 4rem;
  background-color: var(--primary-container-background-color);
  margin-top: 10px;
  padding: 0 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.sideContainer,
.entreeContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/*styling for checkout button */
.checkOut {
  width: 100px;
  padding: 10px;
  font-size: var(--check-out);
  font-weight: bold;
  color: white;
  background-color: var(--primary-button-background-color);
  border: 1px solid var(--cart-border);
  cursor: pointer;
  transition: background-color 0.3s;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.checkOut:hover {
  color: var(--primary-button-background-color);
  border: 1px solid var(--primary-button-hover-color);
}
.cartImage {
  width: 100%; /* Adjust size */
  height: 100%;
  object-fit: contain; /* Ensures image scales properly */
  border-radius: 50%;
}

/*styling for general labels */
.selectLabel,
.sideLabel,
.entreeLabel {
  color: var(--select-text-color);
}
.selectLabel {
  font-weight: bold;
  font-size: var(--select-label);
  margin-bottom: 3px;
}
.sideLabel,
.entreeLabel {
  font-size: var(--select-quant-label);
  font-style: italic;
}
.sideQuantLabel,
.entreeQuantLabel {
  font-size: var(--side-entree-quant-words);
}

/* styling for plate name */
.plateName {
  color: var(--circle-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--plate-name);
  text-shadow: -1px -1px 0 var(--select-text-color), 1px -1px 0 var(--select-text-color), -1px 1px 0 var(--select-text-color),
    1px 1px 0 var(--select-text-color);
}

/* styling for  sticky bottom bar */
.bottomBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /*background-color: rgba(0, 0 , 0, 0.5);*/
  background-color: var(--bottom-bar-background-color);
  color: var(--primary-background-text-color);
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  align-items: stretch;
  padding: 15px;
  z-index: 2;
  /*box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);*/
  border-top: 1px solid var(--primary-background-text-color);
}

/*general styling for bottom bar buttons */
.bottomButton {
  font-size: var(--bottom-button);
  padding: 10px 20px;
  border: none;
  color: var(--item-selection-background-color);
  background-color: var(--bottom-bar-background-color);
  /*border: 1px solid white;*/
  cursor: pointer;
  /*border-radius: 5px;*/
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}
.bottomButton:hover {
  /*background-color: #cb0632;*/
  color: var(--x);

  .x {
    color: var(--primary-background-text-color);
  }
}

.x {
  color: var(--x);
}

/*general styling for bottom bar buttons */
.backToMenuButton {
  font-size: var(--bottom-button);
  padding: 10px 20px;
  border: none;
  color: var(--item-selection-background-color);
  background-color: var(--bottom-bar-background-color);
  /*border: 1px solid white;*/
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}
.backToMenuButton:hover {
  /*background-color: #cb0632;*/
  color: var(--x);

  .x {
    color: var(--primary-background-text-color);
  }
}

/* styling specifics for done button */
.doneButton:disabled {
  background-color: var(--bottom-bar-background-color);
  cursor: not-allowed;
  border: 1px solid var(--primary-background-text-color);
}

.doneButton {
  font-size: var(--bottom-button);
  padding: 10px 20px;
  margin-top: 0;
  border: none;
  color: var(--primary-background-text-color);
  background-color: var(--bottom-bar-background-color);
  /*border: 1px solid white;*/
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  padding-left: 60px;
  padding-right: 60px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.doneButton:enabled {
  color: var(--primary-background-text-color);
  background-color: var(--done-enabled);
  border: 1px solid var(--done-enabled);
  cursor: pointer;
}
