.layout {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 1920px;
  max-height: 1920px;
  background-color: rgb(10, 10, 10);
}

/*.circle {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 0;
  transform: translateX(-60%);
  width: 59vw; /* Increase width slightly to extend the curve */
  /*height: 37vh; /* Increase height for a more pronounced curve */
  /*border-top-left-radius: 60vw;
  border-top-right-radius: 60vw;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #cb0632;
  color: #cb0632;
  overflow: hidden;
}*/

/*styling for decorative circle */
.circle {
  bottom: 0;
  left: 15vw;
  transform: translate(-42%, 40%);
  width: 700px;
  height: 700px;
  background-color: #cb0632;
  border-radius: 50%;
  color: #cb0632;
  position: absolute;
  z-index: 0;
  border: 1px solid #cb0632;
  position: absolute;
  overflow-x: hidden;
}

@media (min-width: 800px) {
  .circle {
      top: 0; 
      left: 15vw; 
      transform: translate(-3%, 50%); 
      width: 1000px; 
      height: 1000px;
  }
}

.welcomeHeader {
  display: block;
  margin-top: 30px;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  color: rgb(10, 10, 10);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  text-transform: uppercase;
  z-index: 1;
}

.orderHeader {
  display: block;
  margin-top: 10px;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  z-index: 1;
}

.translateButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 50px;
  margin: 20px auto;
  padding: 0 20px;
  border: none;
  border-radius: 25px;
  background-color: #cb0632;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  border: 1px solid white;
}

.translateButton:hover {
  background-color: black;
}

.translateButton::after {
  content: "▼";
  font-size: 0.8rem;
  color: white;
}

.languageDropdown {
  display: block;
  width: 180px;
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
  font-size: 1rem;
  cursor: pointer;
}

.accessibility {
  display: block;
  width: 150px;
  height: 100px;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.handicapWrapper:hover {
  border-color: 1px solid white;
}

.logo {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-color: white;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.handicapWrapper {
  position: fixed;
  bottom: 20px;
  left: 70px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 50%;
  overflow: hidden;
  background-color: black;
}

.clockLogoContainer {
  position: absolute;
  top: 160px;
  right: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
  color: white;
}

.timestamp {
  margin-left: 10px;
  font-size: 1.6rem;
}

.bottomPanel {
  flex: 0 0 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
