/* General Layout */
.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

.circle {
    top: -10%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 700px;
    background-color: white;
    border-radius: 50%;
    color: white;
    position: absolute;
    z-index: 0;
}

.topHeader, .bottomPanel {
    flex: 0 0 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.topHeader {
    position: relative;
}

.midPanel {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

/* Top Bar Layout */
.KioskItemPanel {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: -20px;
}

.leftButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-left: 15px;
    z-index: 1;
    position: relative;
}

.cartAndPriceContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.circleButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.circleButton:hover {
    background-color: black;
    color: #cb0632;
    border: 1px solid #cb0632;
}

.cartImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.priceLabel {
    font-size: 30px;
    font-weight: bold;
    color: #cb0632;
}

.gearButtonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right : 95px;
}

.rightButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    z-index: 1;
    width: 100%;
    max-width: 50vw;
    margin: auto;
}

.inlineText {
    display: flex;
    align-items: center;
    gap: 8px;
}


.checkOut, .genStartOver{
    flex: 1;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    color: black;
    background-color: #cb0632;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
    width: 400px;
    justify-content: center;
    align-items: center;
}

.checkOut:hover {
    background-color: black;
    color:#cb0632;
    border-color: #cb0632;
    border: 1px solid;
}


.genStartOver:hover {
    background-color: black;
    color:#cb0632;
    border-color: #cb0632;
    border: 1px solid;

    .startOver {
        color: #cb0632;
    }
}

.x {
    font-weight: bold;
    color: white;
}

.startOver {
    font-size: 16px;
    color: black;
    text-transform: uppercase;
}

/* Middle Panel - Kiosk Item Buttons */
.itemButtons {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.itemButtons button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 0;
    background-color: #cb0632;
    border: 1px solid #cb0632;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 80vw;
    height: 12vh;
    overflow-x: visible;
    overflow-y: hidden;
    position: relative;
}

.itemButtons button:hover {
    background-color: black;
    border: 1px solid #cb0632;
    
    .itemLeft {
        background-color: #cb0632;
        color: white;
    }
}

.itemLeft {
    text-align: center;
    font-weight: bold;
    flex: 1;
    font-size: 20px;
    border-radius: 8px 0 0 8px;
    padding: 35px;
    border: none;
    background: white;
    text-transform: uppercase;
    font-weight: bold;
    
}


.itemRight {
    text-align: left;
    flex: 1;
    font-size: 16px;
    margin-left: 20px;
    color: white;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

.itemImg {
    width: 10px;
    height: 10px;
}


/* Bottom Panel */
.bottomHeader {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    padding-bottom: 70px;
    border-top: 1px solid #cb0632;
    padding-top: 10px;
}
