/* Main Container */
.gridContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 16px;
    background-color: #222;
    height: 100%;
    overflow-y: auto;
}
.gridContainer::-webkit-scrollbar {
    display: none;
}
.gridContainer {
    scrollbar-width: none;
    -ms-overflow-style: none; 
}
/* Order Item */
.orderBox {
    display: flex;
    height: 50%;
    width: 24%;
    flex-direction: column;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 16px;
    color: #fff;
    background-color: #333;
}
/* Order Contents */
.orderHeader {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 8px;
    text-align: center;
}
.orderStatus {
    display: block;
    font-size: 0.9em;
    color: #ff3333;
    margin-top: 4px;
}
.startOrderButton, .completeButton, .cancelButton {
    border: none;
    padding: 8px;
    height: 30%;
    width: 100%;
    margin: 4px 0;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.startOrderButton:hover, .completeButton:hover, .cancelButton:hover {
    cursor: pointer;
    border-radius: 20px;
}
.startOrderButton {
    background-color: #555;
    color: #fdd835;
}
.startOrderButton.activeStart {
    background-color: yellow;
    color: #333;
}
.cancelButton {
    background-color: red;
    color: white;
    border: none;
}
.completeButton {
    background-color: #555;
    color: #cfd8dc;
}
.completeButton.activeComplete {
    background-color: green;
    color: white;
}
/* Confirmation Modal */
.modalContent {
    background: var(--secondary-color-hover);
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    margin: 100px auto;
    top: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
}
.modalButtons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.modalButton {
    background-color: var(--primary-color) !important;
    border: var(--secondary-color) 1px solid !important;
    color: white !important;
    padding: 10px 20px !important;
}
.modalButton:hover {
    background-color: var(--primary-color-hover) !important;
}