/* Main Container */
.gridContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 16px;
    background-color: #222;
    height: 100%;
    overflow-y: auto;
}
.gridContainer::-webkit-scrollbar {
    display: none;
}
.gridContainer {
    scrollbar-width: none;
    -ms-overflow-style: none; 
}
/* Order Item */
.orderBox {
    display: flex;
    height: 100%;
    width: 24%;
    flex-direction: column;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 16px;
    color: #fff;
    background-color: #333;
}
/* Order Contents */
.orderHeader {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 8px;
    text-align: center;
}
.orderStatus {
    display: block;
    font-size: 0.9em;
    color: #ff3333;
    margin-top: 4px;
}
.orderDetails {
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}
.orderDetails ul {
    list-style-type: disc;
    padding-left: 50px;
    margin-top: 4px; 
    margin-bottom: 20px;
}
.orderDetails ul li {
    text-align: left;
    font-weight: normal;
    font-size: 1.6rem;
}