.mainContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}
.left {
    width: 30%;
    height: 100%;
}
.right {
    width: 70%;
    height: 100%;
}
.inventoryTablePosition{
    width: 100%;
    height: 90%;
}
.managerProfilePosition{
    width: 100%;
    height: 10%;
}
.dropDownPosition{
    width: 100%;
    height: 30%;
}
.salesChartPosition{
    width: 100%;
    height: 70%;
    margin: auto;
}