.mainContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex; /* Flexbox helps align left and right sections side-by-side */
}

/* Position the left section */
.mainContainer .left {
    width: 30%;
    height: 100%;
}

/* Position the right section */
.mainContainer .right {
    width: 70%;
    height: 100%;
}

.mainContainer .left .inventoryTablePosition{
    width: 100%;
    height: 90%;
}
.mainContainer .left .managerProfilePosition{
    width: 100%;
    height: 10%;
}
.mainContainer .right .dropDownPosition{
    width: 100%;
    height: 30%;
}

.mainContainer .right .salesChartPosition{
    width: 100%;
    height: 70%;
}

