/* Main Container */
.mainContainer {
    position: relative;
    width: 100%;
    height: 90vh; /* Fixed Height - Better for % in children comps */
    display: flex;
}
/* Left and Right Containers */
.left, .right {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
.left {
    width: 30%;
}
.right {
    width: 70%;
}
/* Left Containers */
.inventoryTablePosition {
    height: 90%;
    width: 100%;
    padding: 15px;
    flex-grow: 1;
    overflow: hidden;
}

.managerProfilePosition {
    height: 10%;
    width: 100%;
    padding: 15px;
    flex-shrink: 0;
}
/* Right Containers */
.dropDownPosition {
    height: 30%;
    width: 100%;
    padding: 15px;
    flex-shrink: 0;
}
.salesChartPosition {
    width: 97.5%;
    margin: 15px;
    flex-grow: 1;
    overflow: hidden;
}