/*Styling for Main Container */
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url("/thank-you-bg.jpg");
  background-size: cover;
  overflow: hidden;
}

/*Styling for Logo and Order Number */
.topLeft {
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: center;
  border: 1px solid #cb0632;
  background-color: rgba(1, 1, 1, 0.5);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/*Styling for Logo */
.chickenLogo {
  width: 120px;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px solid black;
}

/*Styling for Order Number */
.orderNumberLabel {
  font-size: 1.2rem;
  color: rgba(1, 1, 1, 1);
  text-shadow: -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 0.5px 0 #fff,
    0.5px 0.5px 0 #fff;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}

/*Styling for Order Number itself */
.orderNumber {
  font-size: 5rem;
  color: rgba(1, 1, 1, 1);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

/*styling for decorative circle */
.circle {
  display: flex;
  top: 10%;
  width: 900px;
  height: 900px;
  background-color: rgba(1, 1, 1, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 30% 70% 50% 50% / 50% 40% 60% 30%;
  border: solid 2px #cb0632;
  color: #cb0632;
  z-index: 0;
  border: 1px solid #cb0632;
  position: fixed;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
  animation: blobEffect 10s infinite ease-in-out; /* Apply blob animation */
}
@keyframes blobEffect {
  0%,
  100% {
    border-radius: 30% 70% 50% 50% / 50% 40% 60% 30%; /* Start and End */
  }
  20% {
    border-radius: 50% 50% 70% 30% / 40% 60% 20% 80%; /* Stage 1 */
  }
  40% {
    border-radius: 30% 70% 50% 50% / 50% 40% 60% 30%; /* Stage 2 */
  }
  60% {
    border-radius: 50% 50% 70% 30% / 40% 60% 20% 80%; /* Stage 3 */
  }
  80% {
    border-radius: 30% 70% 50% 50% / 50% 40% 60% 30%; /* Stage 4 */
  }
}

/*Styling for Middle Container */
.middleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  z-index: 1;
  height: 100%;
}

/*Styling for Thank You Text */
.thankYouText {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(1, 1, 1, 1);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  margin-bottom: 20px;
  z-index: 1;
}

/*Styling for Fortune Logo */
.pandaLogo {
  margin-top: 30px;
  width: 400px;
  height: auto;
  position: absolute;
  top: 60%;
  z-index: 2;
  animation: fadeIn 1s ease-in-out forwards;
}

/*Styling for Fortune Paper */
.fortunePaper {
  width: 500px;
  background-color: #fdf5e6;
  border: 3px solid #e3c29b;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 20px 60px 20px 60px;
  text-align: center;
  font-size: 1.2rem;
  color: black;
  text-transform: uppercase;
  /*text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;*/
  font-style: italic;
  clip-path: polygon(0% 0%, 10% 50%, 0% 100%, 100% 100%, 90% 50%, 100% 0%);
  z-index: 3;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Click Me Button */
.clickMeButton {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 75px;
  height: auto;
  cursor: pointer;
  transform: rotate(-45deg);
  border: 1px solid black;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  background-color: rgba(1, 1, 1, 0.3);
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
.clickMeButton:hover {
  backdrop-filter: blur(0px);
}

.pointInfo {
  color: white;
  z-index: 3;
}

.label {
  color: transparent;
}
